exportPattern("^[[:alpha:]]+")
#export(ivgls,ivglsPDF)
import(graphics,grDevices,stats,utils)
#S3method(methodName,className)
importFrom("graphics", "abline", "par", "plot")
importFrom("stats", "lm", "nobs", "pt", "rnorm")
importFrom("utils", "install.packages")
importFrom("stargazer")
importFrom("sandwich")
importFrom("lmtest")